/* Coolors Exported Palette - https://coolors.co/ecba82-81c14b-2e933c-297045-204e4a */

/* CSS */
--color1: hsla(32%, 45%, 93%, 1);
--color2: hsla(93%, 61%, 76%, 1);
--color3: hsla(128%, 69%, 58%, 1);
--color4: hsla(144%, 63%, 44%, 1);
--color5: hsla(175%, 59%, 31%, 1);

/* HEX */
$color1: #ecba82ff;
$color2: #81c14bff;
$color3: #2e933cff;
$color4: #297045ff;
$color5: #204e4aff;

/* HSL */
$color1: hsla(32%, 45%, 93%, 1);
$color2: hsla(93%, 61%, 76%, 1);
$color3: hsla(128%, 69%, 58%, 1);
$color4: hsla(144%, 63%, 44%, 1);
$color5: hsla(175%, 59%, 31%, 1);

/* RGB */
$color1: rgba(236, 186, 130, 1);
$color2: rgba(129, 193, 75, 1);
$color3: rgba(46, 147, 60, 1);
$color4: rgba(41, 112, 69, 1);
$color5: rgba(32, 78, 74, 1);

/* GRADIENT */
$gradient-top: linear-gradient(0deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-right: linear-gradient(90deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-bottom: linear-gradient(180deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-left: linear-gradient(270deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-top-right: linear-gradient(45deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-bottom-right: linear-gradient(135deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-top-left: linear-gradient(225deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-bottom-left: linear-gradient(315deg, #ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);
$gradient-radial: radial-gradient(#ecba82ff, #81c14bff, #2e933cff, #297045ff, #204e4aff);